{% include 'fireheader.html'%}
<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(/static/images/img_bg_1.jfif);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
<center>
	<h1>view position</h1>
<form>
	<table class="table" style="width:500px;color: white">
		<tr>
			<th>sino</th>
			<th>officer</th>
			<th>place</th>
			<th>number</th>
	         <th>request</th>
	         <th>date</th>
	         <th>time</th>
			<th>details</th>
		</tr>
		{% for row in data['pos']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['firstname']}}</td>
			<td>{{row['palce']}}</td>
			<td>{{row['phone']}}</td>
			<td>{{row['description']}}</td>
			<td>{{row['date']}}</td>
			<td>{{row['time']}}</td>
			<td>{{row['details']}}</td>

		</tr>
		{%endfor%}
	</table></form></center>
	
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% include 'footer.html'%}
